.idea

**/secrets/**

**/mq-container/**

scratch.**

**/*venv*/

.vscode/

.DS_Store

**/*.pem
**/*.pub
ansible@localhost
**/security/**
zookeeper/kafka-log/**

kraft-connectors-ibm-mq-source-w-monitoring/mq-container/

**/*.jar
**/.flask/
**/flask/**

**/__pycache__/**